*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #0184fd;
    height: 80px;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.icon-menu{
    color: white;
}
.ul-menu{
    display: none;
}
.header-button{
    background-color: white;
    border-radius: 15px;
    padding: 5px 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;       
}
.header-button a{
    color: black;
}
.first-column{
    padding: 15px 15px;
}
.col{
    background-color: #b5ddff;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.col-apple{
    text-align: left;
    background-color: #b5ddff;
    padding: 10px 10px;
    border-radius: 20px;
}
.col i{
    color: #0184fd;
}
h2{
    color: #0686fd;
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}
.apple{
    background-color: #0184fd;
    border-radius: 15px;
    padding: 5px 5px;
    text-align: center;
    width: 10%;
}
.apple a{
    color: white;
}
img{
    width: 100%;
}
@media screen and (min-width:768px) {
    .first-column{
        display: flex;
        flex-wrap: wrap;
       align-items: stretch;
       justify-content: space-between;
    }
    .col-apple{
        width: 66%;
        margin-top: 10px;
        margin-right: 0.5rem;
    }
    .col{
        width: calc(96%/3);
    }
    .apple{
        text-align: center;
        width: 200px;
    }
}
@media screen and (min-width:992px) {
    
    .ul-menu{
        display: block;
    }
    ul{
        display: flex;
        list-style: none; 
        align-items: center;
    }
    li{
        margin-left: 10px;
    }
    .icon-menu{
        display: none;
    }
    .col-apple{
        display: flex;
        width: 66%;
        margin-top: 10px;
        margin-right: 0.5rem;
        align-items: flex-end;
    }
    .col-apple .apple-div{
       margin-bottom: 10%;
    }
}
