*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
header{
    background-color: #0184fd;
    height: 80px;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.icon-menu{
    color: white;
}
.ul-menu{
    display: none;
}
.header-button{
    background-color: white;
    border-radius: 15px;
    padding: 5px 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;       
}
.header-button a{
    color: black;
}
main{
    width: 100%;
}
.first-column{
    padding: 15px 15px;
}
.col{
    background-color: #b5ddff;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.col-apple{
    text-align: left;
    background-color: #b5ddff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 20px;
}
.col i{
    color: #0184fd;
}
h2{
    color: #0686fd;
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}
.apple{
    background-color: #0184fd;
    border-radius: 15px;
    padding: 5px 5px;
    text-align: center;
    width: 10%;
}
.apple a{
    color: white;
}
img{
    width: 100%;
}
.planning1{
    color: white;  
}
.planning1 h2{
    color: white;
    font-size: 40px;
}
.planning2{
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
}
.planning2 h2{
    color: black;
}
.strategic-plan p{
    padding:15px 0;
}
.strategic-plan{
    background-color: #9792e4;
    width: 100%;
    padding: 30px 15px;
}
.arrow-down-violet{
    background-color:#9792e4 ;
    padding: 10px 15px;
    border-radius: 50%;
}
.expert-partners{
    text-align: center;
    padding: 15px;
}
.title-expert{
    color: #9792e4;
}
.partners{
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 30px 0;
    margin: 30px 0;
}
.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; 
    margin-left: 23px;   
}
.img-container img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.benefits{
    background-color: #9792e4;
    padding: 10px;
}
.benefits h2{
    color: white;
    text-align: center;
}
.benefits-col{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
}
.benefits-col {
    color: #9792e4;
}
.benefits-col p{
    color: black;
}
.benefits-col h2{
    color: #9792e4;
}
.more-button a{
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}
.benefits-column .benefits-col h2{
    text-align: left;
}


@media screen and (min-width:768px) {
    .first-column{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }
    .col-apple{
        width: 66%;
        margin-top: 10px;
        margin-right: 0.5rem;
    }
    .col{
        width: calc(96%/3);
    }
    .apple{
        text-align: center;
        width: 200px;
    }
    .partners {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
    }  
    .benefits-column{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefits-col{
        width: calc(98%/2);
    }
}

@media screen and (min-width:992px) {
    .ul-menu{
        display: block;
    }
    ul{
        display: flex;
        list-style: none; 
        align-items: center;
    }
    li{
        margin-left: 10px;
    }
    .icon-menu{
        display: none;
    }
    .col-apple{
        display: flex;
        width: 66%;
        margin-top: 10px;
        margin-right: 0.5rem;
        align-items: flex-end;
    }
    .col-apple .apple-div{
       margin-bottom: 10%;
    }
    .strategic-plan{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }
    .planning2{
        margin-top: 30%;
        width: 40%;
    }
    .planning1{
        width: 40%;
    }
    .planning1 img{
        margin-bottom: 60%;
    }
    .partners {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
    }
    .benefits-column{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefits-col{
        width: calc(96%/3);
    }
    
}
